.container h1 {
  letter-spacing: 1px;
  font-weight: lighter;
  color: rgb(226, 226, 226);
  text-shadow: 1px 1px 4px #434343;
  font-size: 72px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.header {
  display: flex;
  align-items: flex-start;
  text-align: start;
}

.headerTitle {
  align-self: flex-start;
}

.sectionOneTitle {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* sart of sections */

.sectionOne {
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 130, 197);
}
.sectionOneText {
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(226, 226, 226);
}

.sectionTwo {
  background-color: rgb(87, 28, 197);
}
.sectionThree {
  background-color: rgb(197, 28, 129);
}
.sectionFour {
  background-color: rgb(28, 197, 73);
}

/* end of sections */
